<div class="container main-container">
    <div class="row">
        <div class="col-md-6 ">
            <div class="Box">
                <a  class="btn btn-lg btn-custom btn-success">
                    Donate food
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="Box">
                <a class="btn btn-lg btn-custom btn-success">
                    Collect food
                </a>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
