<div class="container main-container">
    <div class="row">
        <div class="col-md-6 ">
            <div class="Box">
                <a  ui-sref="donate" class="btn btn-lg btn-custom btn-success">
                    Donate food
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div  ui-sref="collect" class="Box">
                <a class="btn btn-lg btn-custom btn-success">
                    Collect food
                </a>
            </div>
        </div>
    </div>
    <div class="jumbotron" style="
    margin-top: 20px;"
><center><h1><b>A click will go a long way to feed millions of hungry people. <b><h1><h3>Join the movement and donate food or volunteer to deliver!</h3></center></div>
</div>
<!-- /.container -->
