<script src="http://rawgit.com/Logicify/jquery-locationpicker-plugin/master/dist/locationpicker.jquery.js"></script>
<div class="container main-container">
    <div class="row">
        <div class="col-md-12 ">
            <div class="update-profile">
                <form action="" class="main-forms">
                    <!--  General -->
                    <div class="form-group">
                        <h2 class="heading">
                            Update your Contact information
                        </h2>
                        <div class="controls">
                            <input class="floatLabel" id="name" name="name" type="text">
                                <label for="name">
                                    Full name
                                </label>
                            </input>
                        </div>
                        <div class="controls">
                            <input class="floatLabel" id="email" name="email" type="text">
                                <label for="email">
                                    Email
                                </label>
                            </input>
                        </div>
                        <div class="controls">
                            <input class="floatLabel" id="phoneno" name="phoneno" type="tel">
                                <label for="phoneno">
                                    Phone
                                </label>
                            </input>
                        </div>
                        <div class="grid">
                            <div class="col-2-3">
                                <div class="controls">
                                    <input class="floatLabel" id="address" name="address" type="text">
                                        <label for="address">
                                            Address
                                        </label>
                                    </input>
                                </div>
                            </div>
                            <div class="col-1-3">
                                <div class="controls">
                                    <input class="floatLabel" id="zipcode" name="zipcode" type="text">
                                        <label for="zipcode">
                                            Post Code
                                        </label>
                                    </input>
                                </div>
                            </div>
                            <input name="username" type="hidden" value="">
                            </input>
                        </div>
                    </div>
                    <input class="lat" id="us2-lat" name="lat" type="hidden" value="">
                        <input class="long" id="us2-lon" name="long" type="hidden" value="">
                            <input class="zipcode" name="zipcode" type="hidden" value="">
                                <!--  Details -->
                                <div class="form-group">
                                    <div class="grid">
                                        <div class="controls">
                                            <button class="col-1-4" type="submit" value="Submit">
                                                <strong>
                                                    Submit
                                                </strong>
                                            </button>
                                        </div>
                                    </div>
                                    <!-- /.form-group -->
                                </div>
                            </input>
                        </input>
                    </input>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="form-horizontal">
    <div id="us2">
    </div>
    <div class="clearfix">
    </div>
    <div class="clearfix">
    </div>
</div>
<script>
jQuery(document).ready(function($) {
   
    $('#us2').locationpicker({
            location: {latitude: 46.15242437752303, longitude: 2.7470703125},
            radius: 300,
            inputBinding: {
                latitudeInput: $('#us2-lat'),
                longitudeInput: $('#us2-lon'),
                locationNameInput: $('#address')
            },
            enableAutocomplete: true
        });
});
   (function($) {

   function floatLabel(inputType) {
    $(inputType).each(function() {
      var $this = $(this);
      // on focus add cladd active to label
      $this.focus(function() {
        $this.next().addClass("active");
      });
      //on blur check field and remove class if needed
      $this.blur(function() {
        if ($this.val() === '' || $this.val() === 'blank') {
          $this.next().removeClass();
        }
      });
    });
  }
  // just add a class of "floatLabel to the input field!"
  floatLabel(".floatLabel");
})(jQuery);
</script>